// @use '../abstracts/index';

@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin main-frame {
	min-height: 40vh;
	margin-top: 2rem;
	border-radius: 0.5rem;
}

@mixin main-frame-legend {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 1rem;
	padding: 0 0.5rem;
}

@mixin font-head {
	letter-spacing: 0.2em;
	font-size: larger;
	text-shadow: rgb(44, 40, 40) 1px 4px 1px;
}

@mixin input-border {
	padding: 0.5em;
	border-radius: 0.6rem;
}

//Utilites button

@mixin standard-button {
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	font-size: medium;
	font-weight: 600;
	letter-spacing: 0.06em;
	border-radius: 0.5rem;
	border: 2px solid black;
	color: white;
	
}
