// @use '../abstracts/index';

$first-color: #247291;
$second-color: #f8da5b;
$third-color: #eef2e2;
$fourth-color: #f5f9ee;
$fifth-color: #ff8585;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
$font-head: 'Fredericka the Great', 'Cabin', sans-serif;
$font-main: 'Roboto', sans-serif;
$font-weight: bold;
