@use 'abstracts/index' as *;

* {
	box-sizing: border-box;
	margin: 0;
}

.standard-button {
	background: $first-color;
	@include standard-button;
	margin: 0.5rem 1rem;

	&:hover {
		background: $second-color;
		cursor: pointer;
		color: black;
	}
}

header {
	@include flex;
	@include font-head;	
	font-family: $font-head;
	color: $fourth-color;
	background: $first-color;
	height: 5rem;
}

.wrapper {
	min-width: 300px;
	min-height: 100%;
	margin: 0 1em 5em 1em;
	font-family: $font-main;
	font-weight: $font-weight;

	section {
		min-width: 300px;
	}
}

@media screen and (min-width: 650px){
	header {
		justify-content: flex-start;
		padding-left: 2rem;
		height: 2.5rem;
		font-size: small;
	}

	.wrapper {
		@include flex;
		
		section {
			width: 450px;
		}
	}

	.quiz-questions {
		width: 450px;
	}
}

.main-content {
	@include main-frame;
	border: 0px solid $first-color;
	background: $third-color;
	margin-bottom: 3rem;
	margin-top: $margin-top-general;
	
	legend {
		@include main-frame-legend;
	}
}

.multiselect-categories, 
.input-frame {
	width: $max-width;
	padding: 0 1em;
	p {
		margin-top: 0.5em;
		@include flex;
		font-size: small;
	}

	.select-category {
		position: relative;

		.over-select {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		
		select {
			width: $max-width;
			@include input-border;
			margin-top: $margin-top-general;
			font-weight: $font-weight;
			border: 1px $first-color solid;
			font-size: medium;
			padding: 0.5rem;
		}
	}

	
	.checkbox-category {
		display: none;
		border: 2px $first-color solid;
		border-top: 0;
		border-radius: 0.2rem;
		padding-left: 0.8rem;

		label {
			display: block;
			margin: 5px 0;
		}
	
		label:hover {
			background: lightblue;
		}
	}
}

.checkbox-category > * {
	@include flex;
	justify-content: flex-start;
}

// ----------- Difficulty section -------------------------------
.difficulty-section {
	display: flex;
	flex-flow: row wrap;
	margin-top: 2rem;
	
	div {
		flex: 1;
		padding: 0.6rem;

		input {
			display: none;
			&:not(:disabled) ~ label {
			  cursor: pointer;
			}
			&:disabled ~ label {
			  color: hsla(150, 5%, 75%, 1);
			  border-color: hsla(150, 5%, 75%, 1);
			  box-shadow: none;
			  cursor: not-allowed;
			}
		  }
		  label {
			//height: 100%;
			display: block;
			background: white;
			border: 2px solid $first-color;
			border-radius: 20px;
			padding: 1rem 0;
			text-align: center;
			box-shadow: 0px 3px 5px -2px black;
			position: relative;
		  }
		  label:hover {
			background: $third-color;
		  }
		  #control_01:checked + label {
			background: lightgreen;
			box-shadow: 0px 0px 10px black;
		  }
		  #control_02:checked + label {
			background: $second-color;	
			box-shadow: 0px 0px 10px black;
		  }
		  #control_03:checked + label {
			background: $fifth-color;
			box-shadow: 0px 0px 10px black;
		  }	
		  p {
			font-weight: 100;
		  }
	}	
}

//------------ How many questions -------------------------------------
#form-wrapper {
	width: $max-width;
	@include flex;
	flex-direction: column;
}
form {
	width: $max-width;
	padding: 1rem;
	margin-top: $margin-top-general;
	
	#form-title {
		margin-top: 0;
		font-weight: 400;
		text-align: center;
	}

	#debt-amount-slider {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: $max-width;
		height: 50px;
		user-select: none;
		&::before {
			content: " ";
			position: absolute;
			height: 6px;
			width: $max-width;
			border-radius: 1rem;
			border: $border-general;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $second-color;
		}
		input, label {
			box-sizing: border-box;
			flex: 1;
			user-select: none;
			cursor: pointer;
		}
		label {	
			display: inline-block;
			position: relative;
			width: 20%;
			user-select: none;
			&::before {
				content: attr(data-debt-amount);
				position: absolute;
				left: 50%;
				padding-top: 10px;
				transform: translate(-50%, 45px);
				font-size: 14px;
				letter-spacing: 0.4px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}
			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				border: 3px solid #000;
				background: white;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}
			&:hover::after {
				transform: translate(-50%, -50%) scale(1.25);
				background: $second-color;
			}
		}
		input {
			display: none;
			&:checked {
				+ label::before {
					font-weight: bolder;
					font-size: large;
				}
				+ label::after {
					border-width: 7px;
					transform: translate(-50%, -50%) scale(0.75);
					background: $second-color;
				}
				~ #debt-amount-pos {
					opacity: 1;
				}
			}
		}
	}
	&:valid {
		#debt-amount-slider {
			input {
				+ label::before {
					transform: translate(-50%, 45px) scale(0.9);
					transition: all 0.15s linear;
				}
				&:checked + label::before {
					transform: translate(-50%, 45px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}
	& + button {
		display: block;
		position: relative;
		margin: 56px auto 0;
		padding: 10px 20px;
		appearance: none;
		transition: all 0.15s ease-in-out;
		font-family: inherit;
		font-size: 24px;
		font-weight: 600;
		background: #fff;
		border: 2px solid #000;
		border-radius: 8px;
		outline: 0;
		user-select: none;
		cursor: pointer;
		&:hover {
			// transform: scale(1.1);
			background: #000;
			color: #fff;
			&:active {
				transform: scale(0.9);
			}
		}
		&:focus {
			background: #4caf50;
			border-color: #4caf50;
			color: #fff;
			pointer-events: none;
			&::before {
				animation: spin 1s linear infinite;
			}
		}
		&::before {
			display: inline-block;
			width: 0;
			opacity: 0;
			content: "\f3f4";
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			margin-right: 0;
			transform: rotate(0deg);
		}
	}
	&:invalid + button {
		pointer-events: none;
		opacity: 0.25;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
	to {
		transform: rotate(360deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
}

//------------------------------- Input tags -------------------------------

.tags-input-frame {
	margin-top: 3rem;
	
	input {
		width: $max-width;
		@include input-border;
		border: 1px solid black;
		font-weight: $font-weight;
		
	}

	.tags-box {	
		@include flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		div {
			padding: 0.5rem 1.2rem;
			background: $second-color;
			border: $border-general;
			border-radius: 0.5rem;
			margin-top: $margin-top-general;
		}

		div:hover {
			background-color: $fifth-color;
			box-shadow: 0px 0px 3px black;
			cursor: pointer;
		}
	}
}

//------------------------------- Start quiz -------------------------------
.start-quiz {
	margin-top: 2rem;
	width: $max-width;
	min-height: 1em;
	display: grid;
	place-items: center;
	
	a {
	  position: relative;
	  background: #444;
	  color: #fff;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-size: 1.5rem;
	  letter-spacing: 0.1rem;
	  padding: 0.75rem 1.5rem;
	  transition: 0.5s;
	}
	
	a:hover {
	  letter-spacing: 0.25rem;
	  background: black;
	  color: $second-color;
	  box-shadow: 0 0 20px 1px gray;
	}
	
	a::before {
	  content: "";
	  position: absolute;
	  inset: 2px;
	  background: #27282c;
	}
	
	a span {
	  position: relative;
	  z-index: 1;
	}
	
	a i {
	  position: absolute;
	  inset: 0;
	  display: block;
	  background: $first-color;
	}
	
	a i::before {	
	  content: "";
	  position: absolute;
	  top: -3.5px;
	  left: 80%;
	  width: 15px;
	  height: 5px;
	  border: $border-general;
	  background: $second-color;
	  transform: translateX(-50%);
	  transition: 0.5s;
	}
	
	a:hover i::before {
	  left: 20%;
	  width: 40px;  
	}
	
	a i::after {
	  content: "";
	  position: absolute;
	  bottom: -3.5px;
	  left: 20%;
	  width: 15px;
	  height: 5px;
	  border: $border-general;
	  background: $second-color;
	  transform: translateX(-50%);
	  transition: 0.5s;
	}
	
	a:hover i::after {
	  left: 80%;
	  width: 40px;
	}
}

  // -------------------------- Question-section -----------------------------

.quiz-content {
	@include main-frame;
	border: 0px solid $first-color;
	background: $third-color;

	legend {
		@include main-frame-legend;
	}

	.quiz-questions {
		@include main-frame;
		min-height: 9rem;
		background: white;
		border: none;
		
		legend {
			font-size: medium;
		}
	}
}


.quiz-wrapper-div {
	margin: 1rem;

	.the-question {
		margin-top: 3rem;
	}

	.split-section {
		margin: 2rem 0;
		border: $border-general;
	}

	.question-holder {
		@include flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		padding: 0;

		li {
			@include flex;
			background: $second-color;
			width: 43%;
			min-height: 4rem;
			h4 {
				padding: 0.5rem;
			}
		}
		li:hover {
			background: $first-color;
			color: white;
			font-size: large;
			cursor: pointer;
		}
		li:active {
			transform: scale(0.96);
		}
		.selected {
			background-color: $first-color!important;
			color: white!important;
			font-size: large!important;
		}
	}
}

.test-awnser {
	@include flex;
	flex-wrap: wrap;
	
	#awnser-prompt {
		@include flex;
		text-align: center;
		margin: 2rem 0;
		width: $max-width;

		img {
			margin-right: 0.5rem;
		}
	}

	button {
		margin-top: $margin-top-general;
		background: $first-color;
		@include standard-button;
	}

	button:hover {
		background: $second-color;
		cursor: pointer;
		color: black;
	}
}

//----------------------------- Score-content -----------------------------
.score-article-css {
	margin-top: 5rem;

	.score-header {
		background: $second-color;
		@include flex;
		flex-direction: column;

		h1 {
			padding-top: 1.2rem;
			font-size: 1.5rem;
		}

		h4 {
			padding: 1.2rem;
			font-size: medium;
		}
	}

	.score-content {
		background-color: $third-color;
		@include flex;
		flex-direction: column;

		p {
			margin: 3rem 2rem 1.5rem 2rem;
		}

		#input-nickname-div {
			border: 3px solid $first-color;
			border-radius: 0.2rem;
			input {
				padding: 0.5rem;
				border: none;
			}
		}

		div {
			@include flex;
			flex-direction: column;
		}

		#play-again-div {
			margin: 4rem 0 1rem 0;
			button {
				background: $second-color!important;
				color: black!important;
			}

			button:hover {
				background: $first-color!important;
				color: white!important;
			}
		}
	}
}

  //----------------------------- Scoreboard -----------------------------
.scoreboard {
	@include flex;
	flex-direction: column;
	background-color: $third-color;

	h1 {
		margin-top: $margin-top-general;
	}

	.line {
		margin: 1rem 0rem;
		height: 2px;
		width: 85%;
		background-color: #000;
	}
}

//----------------------------- Footer -----------------------------
footer {
	@include flex;
	position: fixed;
	background: $third-color;
	bottom: 0;
	min-width: 300px;
	width: $max-width;
}